$color-grey:#999999;
$color-black:#333;


// tabbar背景色
$tabbar-background-color:#fff;
// tabbar标签项选择的背景色
$tabbar-tab-item-selected-background-color :#fff;
// tabbar标签项选择的颜色
$tabbar-tab-item-selected-color:#FF8E55;
// tab项的字体大小
$tab-item-font-size:10px;





